@media (max-width: 820px) {
	h1 {
		font-size: 2rem;
		margin-right: 7rem;
		width: 35vw;
	}
	.wrapper {
		width: 80%;
		max-width: 600px;
        margin: 2rem auto;
        padding: 4rem;
	}
	section {
		width: 60%;
		margin: auto;
		max-width: 500px;
	}
	form {
	    width: 80%;
		max-width: 400px;
	}
    fieldset {
		padding: 2rem;
	}
	input:not([type='radio']):not([type='checkbox']):not([type='button']),
	select {
	    width: 22rem;
		font-size: 1.2rem;
		padding: 0.5rem;
	}
}
@media (max-width: 725px){
h1 {
	   font-size: 2rem;
		margin-right: 7rem;
		width: 40vw;
	}
}
@media (max-width: 640px){
h1 {
        font-size: 2rem;
		margin-right: 7rem;
		width: 40vw;
	}
}
@media (max-width: 580px) {
h1 {
        font-size: 1.5rem;
		margin-right: 5rem;
		width: 50vw;
	}
	legend,
	p {
		font-weight: 400;
		font-size: 1rem;
	}
	label {
		font-size: 1rem;
		margin: 1rem 0rem;
		/* margin-top: 1rem;
		margin-bottom: 1rem; */
	}
	fieldset {
		padding: 0.5rem;
	}
	::-webkit-scrollbar {
		width: 2vw;
	}
	input[type='button']{
		font-size: 1rem;
	}
}
@media (max-width:480px){
	h1 {
	    font-size: 1.5rem;
		margin-right: 5rem;
		width: 60vw;
	}
.wrapper{
    width: 100%;
	margin: 0;
}

}
@media (max-width:385px){
	h1 {
		font-size: 1.3rem;
		margin-left: 4rem;
	}
	legend, p, label{
		font-size: 0.8rem;
	}
	input:not([type='radio']):not([type='checkbox']):not([type='button']),
	select {
	
		width: 15rem;
	font-size: 0.5rem;
	}
	.page-footer p{
		font-size: 0.6rem;
	}
	
}
